.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgb(68, 50, 151);
}
.navbar_frame .container {
  position: relative;
  padding: 20px 0 14px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.navbar_frame .container .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar_top .nav_search_frame {
  width: 651px;
  height: 50px;

  border-radius: 6px;

  display: flex;
  flex-direction: row;

  background-color: whitesmoke;
}
.nav_search_frame .search_box {
  padding: 10px 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search_box .category_list {
  width: 166px;
  height: 30px;
  border-right: 1px solid rgb(214, 214, 214);
}
.category_list select {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}
.search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;
  border: none;
  outline: none;

  padding-left: 10px;
  color: rgb(95, 105, 66);
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0px 6px 6px 0px;

  background: rgb(236, 174, 31);
}

.navbar_top .nav_top_menu {
  width: 416px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
}
.top_menu_box .box_icon_box {
  position: relative;
  width: 54px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
.box_icon_box img {
  /* heart 1 */
  width: 24.13px;
  height: 22px;
}
.top_menu_box .box_info_box {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.box_info_box span {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-size: 16px;
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.box_info_box strong {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-size: 16px;
  font-weight: 500px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.box_icon_box .bascet_count {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;

  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(250, 195, 75);

  color: rgba(11, 30, 64, 1);

  font-family: "Inter";
  font-style: Jost;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_frame .container .navbar_bott {
  margin-top: 20px;
  border-top: 1px solid #5474a2;
}
.navbar_bott .navbar_bott_menu_box {
  margin-top: 10px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar_bott .browse_box {
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5474a2;
}
.browse_box img {
  width: 20px;
  height: 18px;
}
.browse_box span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_bott_menu_box .navbar_route_menu {
  width: 670px;
  display: flex;
  flex-direction: row;
}

.navbar_route_menu a {
  margin-right: 10px;
  font-family: "Jost";

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  color: #fff;
}

.navbar_route_menu a.title {
  color: rgb(236, 174, 31);
}
.sorting_menu span {
  margin-right: 10px;
  font-family: "Jost";

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  color: #fff;
}
.sorting_menu span:hover {
  color: rgb(236, 174, 31);
}
.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header_frame .container {
  flex-direction: row;
}
.header_frame  .container .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;
  background-color: #0053f6;
  background-image: url("../icons/header_bg.svg");
  border-radius: 5px;
}
.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}
.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #fff;
}
.header_frame .header_content p {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;

  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
  background-color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.header_frame .header_content img {
  position: absolute;
  right: 10px;
}
.header_frame .container .header_right {
  position: relative;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: space-between;
}
.header_frame .header_right {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.header_frame .header_right .header_box {
  width: 424px;
  height: 242px;
  background: #f3f3f3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  box-sizing: border-box;
}

.header_frame .header_right .box_left {
  width: 220px; /* 50px emas */
  margin-left: 0;
}

.header_frame .box_left span {
  display: block;
  color: #0053f6;
  font-size: 15px;
  line-height: 22px;
}

.header_frame .box_left p {
  margin: 12px 0;
  font-size: 30px;
  line-height: 38px;
  color: #041e42;
}

.header_frame .box_left a {
  text-decoration: none;
  color: #041e42;
  font-size: 15px;
}

.header_frame .header_box .box_right {
  width: 160px; /* 50px emas */
  height: auto;
}

.header_frame .box_right img {
  width: 100%;
  height: 100%;

}
.homne_page .service_frame{
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;   
  justify-content: center;

} 
.service_frame .container {
flex-direction: row;
  margin-left: 300px;
}
.container .service_box {
  width: 25%;
  height: 86px;
 display: flex;
margin-right: 20px;
flex-direction: row;
border-bottom: 1px solid #e0e0e0;

}
.service_box img{
  width: 35px;
  height: 35px;
}
.service_box .service_content{
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  
}
.service_content span{
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}
.service_content p{
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #626974;
}